@import "tailwindcss";

html, body {
    transition: background-color 0.3s ease, color 0.3s ease;
    min-height: 100vh;
    margin: 0;
  }
  
  /* Light Theme */
  body.light {
    background-color: #ffffff; /* Light background color */
    color: #000000;           /* Light text color */
  }
  
  /* Dark Theme */
  body.dark {
    background-color: #1a202c; /* Dark background color */
    color: #f5f5f5;           /* Dark text color */
  }